/* LANDING START */
/* HERO CONTAINER */

.hero-container {
  background-image: url(../images/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: calc(100dvh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.title-container {
  position: absolute;
  top: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 0 30px;
}

.title-container h1 {
  font-size: 6vw;
}

.title-container p {
  font-size: 18px;
  color: var(--color-text-secondary);
}

.mini-title {
  box-shadow: 0 0 0 1px var(--color-accent);
  background: var(--clear-gradient);
  padding: 6px 12px;
  width: fit-content;
  font-size: 14px;
}

/* pourquoi lsr */

.why-container {
  text-align: center;
  padding-top: 40px;
}

.icon-why {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 26px;
  background-color: var(--color-surface);
  border: 1px solid var(--color-border);
}

.why-card:hover .icon-why,
.why-card:hover h3 {
  background: var(--gradient);
  background-clip: border-box;
  background-clip: border-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.why-card:hover .why-text p {
  color: var(--color-text);
}

.why-card:hover .icon-why {
  border: 1px solid var(--color-accent-clear);
  box-shadow: 0 0px 8px 0px var(--color-accent-clear);
}

.why-cards-container {
  display: flex;
  align-items: start;
  justify-content: space-evenly;
  padding-top: 50px;
  gap: 55px;
}

.why-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  max-width: 350px;
}

.why-text h3 {
  font-size: 20px;
}

.why-text p {
  padding-top: 6px;
  color: var(--color-text-secondary);
  font-size: 16px;
  max-width: 350px;
}

/* offre */

.offre-container {
  background-color: var(--color-bg);
  background-image: url("../images/back-offre.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  z-index: 9998;

  padding: 40px;
  gap: 30px;
  border-radius: 28px;
  border: 1px solid var(--color-accent-clear);
  box-shadow: inset 0 0px 8px 0px var(--color-accent-clear);
}

.offre-container p {
  width: 80%;
}

.btn {
  cursor: pointer;
  background-color: var(--color-bg-clear);
  padding: 10px 20px;
  border-radius: 9999px;
  box-shadow: var(--box-shadow);
  border: 1px solid var(--color-border);
}

.btn:hover {
  transform: scale(1.06);
}

/* temoignage */

.temoignage-header {
  text-align: center;
  padding: 0 20px;
}

.temoignage-header p {
  color: var(--color-text-secondary);
  padding-top: 8px;
  font-weight: 400;
}

.temoignage-container {
  position: relative;
  overflow: hidden;

  -webkit-mask-image: linear-gradient(
    to right,
    transparent,
    var(--color-bg) 10%,
    var(--color-bg) 90%,
    transparent
  );

  mask-image: linear-gradient(
    to right,
    transparent,
    var(--color-bg) 10%,
    var(--color-bg) 90%,
    transparent
  );
  display: flex;
  flex-direction: column;
  gap: 30px;
  overflow: hidden;
  padding-top: 40px;
}

.temoignage-card {
  cursor: pointer;
  background: linear-gradient(
    0deg,
    var(--color-bg) 0%,
    var(--color-surface) 100%
  );
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 100%;
  border-radius: 10px;
  padding: 20px;
  gap: 10px;
}

.profile-temoignage {
  display: flex;
  align-items: center;
  gap: 12px;
}

.profile-name h4 {
  font-size: 14px;
}

.profile-name p {
  font-size: 12px;
  color: var(--color-text-secondary);
}

.temoignage-text {
  font-size: 14px;
  color: var(--color-text-secondary);
}

.profile-pic img {
  width: 100%;
}

.profile-pic {
  width: 40px;
}
.temoignage-box {
  overflow: hidden;
  width: 100%;
}

.temoignage-track {
  display: flex;
  gap: 20px;
  width: max-content;
}

/* Animations */
.temoignage-box1 .temoignage-track {
  animation: scroll-left 35s linear infinite;
}

.temoignage-box2 .temoignage-track {
  animation: scroll-right 45s linear infinite;
  animation-delay: -10s;
}

/* Pause */
.temoignage-box:hover .temoignage-track {
  animation-play-state: paused;
}

@keyframes scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes scroll-right {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

/* À PROPOS */

/* LANDING END */

/* PORTFOLIO */

/* SERVICES */

/* TARIFS */

/* CONTACT */

/* RESPONSIVE */
@media screen and (max-width: 1315px) {
  .why-cards-container {
    gap: 20px;
  }
  .why-text h3 {
    font-size: 18px;
  }

  .why-text p {
    font-size: 14px;
  }

  .icon-why {
    width: 55px;
    height: 55px;
    font-size: 22px;
  }
}

@media screen and (max-width: 1150px) {
  .why-cards-container {
    flex-wrap: wrap;
  }

  .why-cards-container {
    gap: 50px;
  }

  .why-card {
    max-width: inherit;
    width: calc(50% - 25px);
  }
}

@media (max-width: 1023px) {
  .temoignage-card {
    min-width: 240px;
  }

  .temoignage-container {
    gap: 20px;
  }

  .temoignage-slider {
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      black 2%,
      black 98%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      black 2%,
      black 98%,
      transparent
    );
  }

  .title-font-secondary {
    line-height: 1.2;
  }

  .temoignage-header p {
    font-size: 14px;
    padding-top: 6px;
  }
}

@media screen and (max-width: 900px) {
  .title-container h1 {
    font-size: 26px;
  }

  .title-container p {
    font-size: 16px;
  }

  .title-container {
    gap: 18px;
  }
  .offre-container h3 {
    font-size: 20px;
  }

  .offre-container p {
    width: 100%;
    font-size: 14px;
  }

  .offre-container .btn {
    width: 100%;
    text-align: center;
  }
  .offre-container {
    padding: 25px;
  }
}

@media screen and (max-width: 750px) {
  .temoignage-section {
    padding: 20px 0;
  }
  .temoignage-card {
    max-width: 250px;
    padding: 16px;
  }

  .temoignage-text {
    font-size: 12px;
  }

  .profile-name h4 {
    font-size: 12px;
  }

  .profile-name p {
    font-size: 10px;
  }

  .profile-pic {
    width: 30px;
    height: 30px;
  }

  .profile-temoignage {
    gap: 8px;
  }
}

@media screen and (max-width: 550px) {
  .why-cards-container {
    flex-direction: column;
    gap: 20px;
    padding-top: 35px;
  }

  .why-card {
    width: 100% !important;
  }

  .title-container h1 {
    font-size: 26px;
  }
  .title-secondary {
    font-size: 22px;
  }
}
